/* stylelint-disable selector-class-pattern */

.display-l {
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.display-m {
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
}

.display-s {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
}

.headline-l {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.headline-m {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.headline-s {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.title-l {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.title-m {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title-s {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.body-l {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.body-m {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.body-s {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.label-l {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-m {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.label-s {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
}
