@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  @apply selection:bg-accent selection:text-accent-content;
}

html,
body {
  scroll-behavior: smooth;

  overflow-x: hidden;

  min-width: 320px;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  appearance: none;
}
