/* stylelint-disable selector-class-pattern */

.rehypeHeadAnchor {
  .icon.icon-link {
    display: inline-block;

    width: var(--spacing-xs-s);
    height: var(--spacing-xs-s);
    margin-left: var(--spacing-3xs);

    background-color: var(--color-base-content);

    mask: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path></svg>');

    mask-size: cover;
  }
}

[data-rehype-pretty-code-fragment] pre {
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] [data-line] {
  padding-block: var(--spacing);
  padding-inline: calc(var(--spacing) * 4);
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > [data-line]::before {
  content: counter(line);
  counter-increment: line;

  display: inline-block;

  width: 1rem;
  margin-right: 1rem;

  color: gray;
  text-align: right;
}
