{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["clsx", "cn", "cnM"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)|^(next-auth/(.*)$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(\\~)(/.*)$",
    "",
    "^app(/.*)?$",
    "",
    "^public(/.*)?$",
    "",
    "^types$",
    "",
    "^(@/api|@/queries|@/store|@/hooks|@/lib|@/components|@/utils|@/locales|@/assets|@/content|@/bin)(/.*)$",
    "",
    "^(\\$)(/.*)$",
    "",
    "^(@/types)(/.*)$",
    "",
    "^[.]"
  ]
}
