/* stylelint-disable selector-class-pattern */

.d-btn {
  --btn-text-case: lowercase;
}

.d-card-body {
  padding: var(--spacing-xs-s);
}

input::placeholder,
textarea::placeholder {
  opacity: 0.75;
}

.d-label-text-alt:not(.text-error) {
  opacity: 0.8;
}

/* TODO - fix label d-label here */

.d-divider,
.d-divider-vertical {
  height: 1px;
  margin-block: var(--spacing-3xs-2xs);
  margin-inline: 0;
}

.d-divider-horizontal {
  width: 1px;
  height: auto;
  margin-block: 0;
  margin-inline: var(--spacing-3xs-2xs);
}

.d-menu-title {
  padding-block: var(--spacing-3xs);
  padding-inline: var(--spacing-xs);
}

.d-menu-active {
  color: var(--color-secondary-content);
  background-color: var(--color-secondary);
}

.d-loading-xl {
  width: calc(var(--spacing) * 16);
}

/* Checkbox */
[role="checkbox"][data-state="indeterminate"] {
  background-image: linear-gradient(90deg, transparent 80%, var(--chkbg) 80%),
    linear-gradient(-90deg, transparent 80%, var(--chkbg) 80%),
    linear-gradient(
      0deg,
      var(--chkbg) 43%,
      var(--chkfg) 43%,
      var(--chkfg) 57%,
      var(--chkbg) 57%
    );
}
