/* stylelint-disable selector-class-pattern */

.dui-btn {
  --btn-text-case: lowercase;
}

.dui-card-body {
  @apply p-xs-s;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.75;
}

.dui-label-text-alt {
  &:not(.text-error) {
    @apply text-opacity-80;
  }
}

.dui-label,
.dui-label-text {
  @apply caption-m lg:caption-l;
}

.dui-divider,
.dui-divider-vertical {
  @apply mx-0 my-3xs-2xs h-[1px] text-base-content/60;

  &::before,
  &::after {
    @apply bg-base-content/20;
  }
}

.dui-divider-horizontal {
  @apply mx-3xs-2xs my-0 h-auto w-[1px];
}

.dui-menu-title {
  @apply label-m px-xs py-3xs;
}

.dui-active {
  @apply bg-secondary text-secondary-content #{!important};
}

.dui-loading-xl {
  @apply w-16;
}

/* Checkbox */
[role="checkbox"][data-state="indeterminate"] {
  background-image: linear-gradient(90deg, transparent 80%, var(--chkbg) 80%),
    linear-gradient(-90deg, transparent 80%, var(--chkbg) 80%),
    linear-gradient(
      0deg,
      var(--chkbg) 43%,
      var(--chkfg) 43%,
      var(--chkfg) 57%,
      var(--chkbg) 57%
    );
}
