.container {
  display: grid;
  grid-auto-flow: row dense;
  grid-template: "image details" 1fr / max-content 1fr;
  gap: var(--spacing-xs);
  align-items: center;
}

.details {
  display: grid;
  grid-area: details;
  grid-template: "name" 1fr "meta" 1fr / 1fr;
  gap: 2px;
}

.name {
  grid-area: name;
}

.meta {
  grid-area: meta;
}

.image {
  grid-area: image;
}
