.h1 {
  font-size: clamp(2.5rem, 1.125rem + 3.5vw, 3.5em);
  font-weight: 600;
  line-height: 1.1143;
  letter-spacing: -0.2px;
}

.h2 {
  font-size: clamp(1.5rem, 0.9643rem + 1.4286vw, 2.25rem);
  font-weight: 600;
  line-height: 1.2222;
  letter-spacing: -0.2px;
}

.h3 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.2222;
  letter-spacing: 0.2px;
}

.h4 {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}

.subtitle1 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3333;
  letter-spacing: 0;
}

.subtitle2 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0;
}

.body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

.body2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

.caption {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
}

.srOnly {
  @apply sr-only;
}
