@config "../tailwind.ext.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;

  @apply m-0 p-0 selection:bg-accent selection:text-accent-content;
}

html,
body {
  @apply m-0 overflow-x-hidden scroll-smooth;
}

body {
  @apply min-w-[320px] max-w-xl border border-solid border-primary;
}
