/* stylelint-disable selector-class-pattern */

.dui-btn {
  --btn-text-case: lowercase;
}

.dui-card-body {
  @apply p-s-m;
}

.dui-divider-horizontal {
  @apply mx-3xs;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.75;
}

.dui-label-text-alt {
  &:not(.text-error) {
    @apply text-opacity-80;
  }
}

.dui-label,
.dui-label-text {
  @apply label-xs lg:label-m;
}
