/* stylelint-disable selector-class-pattern */

.btn {
  --btn-text-case: lowercase;
}

.card-body {
  @apply p-s-m;
}

.divider-horizontal {
  @apply mx-3xs;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.75;
}

.label-text-alt {
  &:not(.text-error) {
    @apply text-opacity-80;
  }
}
