/* stylelint-disable selector-class-pattern */
// TODO - disable for all overrides folder

@import "reactflow/dist/style.css";

.react-flow__handle {
  opacity: 0;
}

.react-flow__handle-top {
  top: 0;
}

.react-flow__handle-bottom {
  bottom: 0;
}

.react-flow__edge-path {
  @apply stroke-2;
}

.react-flow__attribution {
  @apply body-m w-full rounded-b-xl bg-base-100 text-center lowercase;
}
