/* stylelint-disable selector-class-pattern */

@import "reactflow/dist/style.css";

.react-flow__handle {
  opacity: 0;
}

.react-flow__handle-top {
  top: 0;
}

.react-flow__handle-bottom {
  bottom: 0;
}

.react-flow__edge-path {
  stroke-width: 2;
}

.react-flow__attribution {
  background-color: var(--color-base-100);
  padding-inline: var(--spacing-xs);
  text-align: center;
  text-transform: lowercase;
}
