@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100svh;
  height: 100%;
}

/* Over ride daisyui styles */
.btn {
  --btn-text-case: lowercase;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.4;
}
